.yyphoto img {
  width: 50%;
  height: 60%;
  margin-top: 10%;
}

.yyphoto {
  position: fixed;
  top: 0;
  left: 0;
  width: 1349px !important;
  height: 100%;
  /*border-radius: 10px;*/
  overflow: hidden;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.49);
  /*border: 1px solid red;*/
}

.imgShow {
  width: 200px;
  height: 180px;
  margin: 3px;
  /*border: 1px solid red;*/
  position: absolute;
  top: 0;
  right: 0;
}

.imgShow img {
  width: 100%;
  height: 100%;
}

.mybtn {
  display: inline-block;
}

.custom-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

/*.open  input{*/
/*width: 120px;*/
/*border-radius: 10px;*/
/*height: 30px;*/
/*text-indent: 3px;*/
/*border: 1px solid  gainsboro;*/
/*}*/
/*.open  span{*/
/*display: inline-block;*/
/*margin-bottom: 5%;*/
/*}*/

.redcolor {
  color: red !important;
  background-color: black !important;
}

.yhjHtml .addPer-btn {
  width: 20%;
  display: flex;
  justify-content: space-between;
  /*border-bottom: 1px solid gainsboro;*/
}

/*<!--优惠券-->*/
.yhjHtml-title {
  color: rgb(59, 149, 44);
  margin: 2%;
  text-align: left;
}

.yhjHtml {
  width: 700px !important;
  border: 1px solid rgb(59, 149, 44);
}

.yhjHtml .addPer-btn {
  margin-left: 5%;
}

#editorElem {
  width: 99%;
  position: relative;

  margin: 0 auto !important;
}

.zdex {
  z-index: -99;
}

.prodetail {
  width: 96%;
  border-top: 1px solid rgba(128, 128, 128, 0.6);
  text-align: left;
  color: rgb(59, 149, 44);
  padding: 20px 2%;
}

.fileimg {
  position: relative;
  width: 80px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: white;
  border-radius: 5px;
  background-color: rgb(59, 149, 44);
  overflow: hidden;
}

.fileimg input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.addPer-btn {
  text-align: left;

  display: flex;
  width: 40%;
  margin: 3% 0;
  margin-left: 2%;
  justify-content: space-between;
}

.red {
  color: red;
}

.addPerClass {
  width: 90%;
  margin-left: 2%;
  text-align: left;
  /*border: 1px solid red;*/
}

.addPerClass p {
  /*border: 1px solid red;*/
  margin-right: 5px;
  display: inline-block;

}

#addPer {
  width: 99.5%;
  font-size: 14px;
  padding-bottom: 1%;
  position: relative;
  border: 1px solid rgb(59, 149, 44);
}

#addPer input {
  border-radius: 5px;
  border: 1px solid gainsboro;
  /*padding: 0.5%;*/
  text-indent: 5px;
  width: 60px;
  padding: 1% 0;
}

select {
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gainsboro;
}

.proname {
  width: 80px !important;
}

.addPer-title {
  color: rgb(59, 149, 44);
  text-align: left;
  width: 20%;
  margin: 2%;
}

.conten {
  border: 1px solid rgb(59, 149, 44);
  margin-bottom: 5%;
}

/*.leftPro {*/
  /*margin-right: 2%;*/
  /*width: 53%;*/

/*}*/

.leftPro > div {
  border: 1px solid gainsboro;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  padding: 5% 0;
  margin-bottom: 25%;
}

.bottom-content {
  display: flex;
  width: 100%;
  padding: 0 1%;
  margin: 5% 0;
  justify-content: space-between;
}

.bottom input {
  width: 45%;
  padding: 0 2%;
  text-indent: 0.5em;
  border-radius: 20px;
  border: 1px solid gainsboro;
  outline: none;
}

.bottom {
  border-bottom: 1px solid gainsboro;
}

.search {
  display: flex;
  width: 30%;
  justify-content: space-between;
  /*border: 1px solid gainsboro;*/
}

.bottom-btn {
  width: 95%;
  margin: 0 auto;
  margin-left: -1%;
  display: flex;
  /*border: 1px  solid red;*/
  justify-content: space-between;
}

.usercms {
  width: 100%;
  /*border: 1px  solid  blue;*/
  overflow: hidden;
  position: relative;
  /*padding-right: 2%;*/
}

.usercms > div {
  width: 76%;
  float: left;
}

.usercms > ul {
  float: right;
  width: 20%;
  border: 1px solid rgb(59, 149, 44);
}

.usercms > ul > li {
  font-size: 14px;
  padding: 10% 0;
  line-height: 30px;
  list-style: none;
  background-color: rgb(255, 241, 240);
  border-bottom: 1px dashed rgba(128, 128, 128, 0.55);
}

.usercms > ul > li:last-of-type {
  border-bottom: none;
}

.topBtn, .bottom {
  width: 95%;
  border-top: 1px solid gainsboro;
  padding: 3% 0;
  display: flex;
  justify-content: start;
  padding-left: 5%;
}

.gfged {
  margin-left: 10%;
}

* {
  margin: 0;
  padding: 0;

}

.redBtn {
  width: 90%;
  text-align: left;
  margin: 3% auto;
  border-bottom: 1px solid gainsboro;
  border-radius: 20px;
  font-size: 15px;
  /*margin:3% auto;*/
  overflow: hidden;
}

.redBtn ul {
  width: 100%;
  display: flex;
  /*border: 1px solid black;*/
  justify-content: space-between;
}

.redBtn li {
  list-style: none;
  height: 100%;
  text-align: center;
  width: 100%;
  /*border-right: 1px solid red;*/
  padding: 0.6% 0;
  /*margin: 0;*/
}

.redBtn li:last-child {
  border: none;
}

.hover {
  color: white;
  background-color: red;
}
